[project]
	description = A simple and incomplete binding to libexpect. See http://www.nist.gov/el/msid/expect.cfm for full details on expect. This package has only been tested on macos X lion to date.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cosnicolaou
[access "refs/for/refs/*"]
	read = group user/cosnicolaou
	push = group user/cosnicolaou
	label-Code-Review = -2..+2 group user/cosnicolaou
	label-Verified = -1..+1 group user/cosnicolaou
	rebase = group user/cosnicolaou
	removeReviewer = group user/cosnicolaou
	submit = group user/cosnicolaou
[access "refs/heads/*"]
	read = group user/cosnicolaou
	create = group user/cosnicolaou
	push = +force group user/cosnicolaou
	pushMerge = group user/cosnicolaou
[access "refs/tags/*"]
	push = +force group user/cosnicolaou
	pushTag = group user/cosnicolaou
	pushSignedTag = group user/cosnicolaou
